head
		meta(charset='UTF-8')
		title
			| Responsive Header Demo
        
        header#header
			.container
				h1
					| Header Demo
				nav#nav
					ul
						li
							a(href='#') Home
						li
							a(href='#') About
						li
							a(href='#') Projects 